.wp-block-gbc-blocks-customer-feedback {
    .swiper {
        height: 540px;

        .swiper-button-prev , .swiper-button-next {
            top: 92%;
        }
        .swiper-button-prev {
            right: 60px;
            left: auto;
        
        }

        .swiper-pagination-fraction {
            width: auto;
            bottom: 30px;
        }

        .swiper-pagination-progressbar {
            bottom: 42px;
            top: auto;
            width: 50%;
            background: #E6E6F2;
            height: 6px;
            border-radius: 65px;

            .swiper-pagination-progressbar-fill {
                background: #6A6AFF;
                border-radius: 65px;
            }
        }

    }

    .single-items {
        display: flex;
        gap: 20px;
        flex-flow: row wrap;
        background: #ffffff;
        padding: 90px 50px;
        border-radius: 20px;
        align-items: center;

        h4 {
            font-size: 28px;
            line-height: 130%;
            font-weight:600;
            color: #111827;
            font-family: Inter, sans-serif;
            margin-bottom: 0;

        }

        h5 {
            font-size: 18px;
            color: #787A8B;
            line-height: 170%;
            font-weight:400;
            font-family: Inter, sans-serif;
            margin-bottom: 31px;

        }

        p {
            font-size: 20px;
            font-weight: 400;
            font-family: Inter, sans-serif;
            margin-bottom: 0;
            color: #000;
            line-height: 30px;

        }

        .quote {
            background: #7171FF;
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom: 16px;

        }

        .author-image {
            margin-bottom: 8px;

        }

        .author-info {
            flex-basis: 27%;
            max-width: 100%;
        }

        .content-info {
            flex-basis: 60%;
            max-width: 100%;

        }
    }
}